body{
    padding-top:60px
}

footer{
    padding-left: 60px;
    padding-right: 60px;
}

footer p{
    border-top: 1px solid #d7e0e2
}

.navbar-form .form-group{
    margin-left: 10px
}

.navbar-form button{
    margin-left: 10px
}