extends basePage

block page-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="/") Being Zero
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    li
                        a(href="signup") Signup
                    //li
                        //a(href="login") Login
                .navbar-right(ng-controller="mvNavBarLoginCtrl")
                    form.navbar-form(ng-hide="identity.isAuthenticated()")
                        .form-group
                            input.form-control(placeholder="Email", ng-model="username")
                        .form-group
                            input.form-control(type="password", placeholder="Password", ng-model="password")
                        button.btn.btn-primary(ng-click="signIn(username, password)") Sign In

    section.content
        .container
            div(ng-view)
        
    footer.container.text-center
        p &copy; Being Zero 2014-2016