extends basePage

block page-content
    h1 Jade - node template engine
    div(ng-view)
    h3= dbMessage
    .jumbotron
        h1 Welcome to Being Zero
        button(class="btn btn-primary") Click Me
    #container.col
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.